@font-face {
    font-family: 'Fraunces 9pt';
    src: url(../fonts/Catamaran-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Borlow';
    src: url(../fonts/Catamaran-Bold.ttf);
    font-weight: 400;
}


html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Catamaran';
    font-size: 18px;
}

.container{
    max-width: 1280px;
    margin: auto;
    padding: 0 30px;
}

/* Header styles */

.header{
    display: flex;
    justify-content: space-between;
}

.navbar{

}

.nav_items{
    display: flex;
    list-style: none;
}

.nav_item{
    margin: 50px 23px;
}

.nav_link{
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}



/* Great styles */

.great{
    padding: 70px 60px;
    background: #A2A2A2;
    width: 1200px;
    height: 500px;
    border-radius: 10px;
}

.grear_title{
    width: 493px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.great_description{
    padding: 40px 0;
    width: 385px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.great_link{
    text-decoration: none;
    padding: 10px 20px;
    background: #0E8784;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}



/* Planalto styles */


.planalto{

}

.planalto_item{
    display: inline-block;
    padding: 200px 20px;
}

.planalto_img{
    padding-bottom: 50px;
    width: 256px;
    height: 255px;
    left: 734px;
    top: 975px;
}

.planalto_title{
    width: 255px;
    height: 32px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.planalto_description{
    width: 255px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}



/* Choose styles */


.choose{
    margin-bottom: 300px;
    text-align: center;
    width: 1200px;
    height: 500px;
    background-color: #0a111bd7;
    border-radius: 10px;
}

.choose_title{
    padding-top: 70px;
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.choose_description{
    margin: 0 319px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.choose_items{
    justify-content: space-around;
    display: flex;
    padding-top: 9%;
    padding-left: 30px;
}

.choose_item{
    padding: 0 40px;
    padding-top: 1%;
    width: 300px;
    height: 330px;
    background: #0E8784;
    border-radius: 8px;
}

.choose_item_img{
    width: 50px;
    padding: 30px 0;
}

.choose_item_title{
    padding: 30px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.choose_item_description{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}



/* Block styles */


.block{
    padding: 40px 120px;
}

.block_title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.block_line_right{
    display: flex;
    align-items: center;
    border: none;
    display: inline-block;
    width: 380px;
    height: 1px;
    background-color:  #FDD6BA;
}

.block_line_left{
    display: flex;
    align-items: center;
    border: none;
    height: 1px;
    display: inline-block;
    width: 380px;
    background-color:  #FDD6BA;
}

.block_line_left::before{
    content: "";
    display: inline-block;
    background: url(../img/Oval.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
}

.block_line_left::after{
    display: inline-block;
    content: "";
    background: url(../img/Oval.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
}
.block_line_right::before{
    content: "";
    display: inline-block;
    background: url(../img/Oval.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
}

.block_items{
    display: flex;
    padding: 50px 0;
}

.block_item{
    padding-right: 50px;
}

.block_item_number{
    width: 90px;
    height: 70px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.block_item_title{
    padding: 42px 0;
    width: 205px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.block_item_description{
    width: 265px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}




